@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/Newsletter.webp" width="300" alt="Alternate Text" />
    <h1 class="display-4">Çağla Tunç Savaş</h1>
    <p>I am Software Developer | .NET </p>
    <p>Lorem</p>
    <div class="d-flex justify-content-center" style="gap:15px">
        <input class="form-control" style="width:30%" placeholder="your@gmail.com" />
        <button class="btn btn-dark">Subscribe</button>
    </div>
</div>
